gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
key.properties
**/*.keystore
**/*.jks

# Build files
/build/
/app/build/
output.json
output-metadata.json

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof